
//comentario de prueba
@font-face {
    font-family: 'Montserrat-Regular';
    src: url('./assets/fonts/Montserrat-Regular.ttf') ;
    font-weight: normal;
    font-style: normal;
  }
  @font-face{
    font-family: 'Montserrat-Light';
    src: url('./assets/fonts/Montserrat-Light.ttf');
    font-weight: lighter;
    font-style: normal;
  }
  
  @font-face {
    font-family: 'Montserrat-ExtraBold';
    src: url('./assets/fonts/Montserrat-ExtraBold.ttf') ;
    font-weight: normal;
    font-style: normal;
  }
  
  @font-face {
    font-family: 'Montserrat-Bold';
    src: url('./assets/fonts/Montserrat-Bold.ttf') ;
    font-weight: normal;
    font-style: normal;
  }
  
  @font-face {
    font-family: 'Montserrat-Medium';
    src: url('./assets/fonts/Montserrat-Medium.ttf') ;
    font-weight: normal;
    font-style: normal;
  }
  
  @font-face {
    font-family: 'Montserrat-SemiBold';
    src: url('./assets/fonts/Montserrat-SemiBold.ttf') ;
    font-weight: normal;
    font-style: normal;
  }

$mainColor: white;
$secondaryColor: #6f4ae7;
$tertiaryColor: #FD6439;


body {
width: 100vw;
overflow-x: hidden;
margin: 0;
padding: 0;
}

h1 {
  font-family: "Montserrat-ExtraBold";
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style: none;
  // cursor: pointer;
}

.subtitle {
  font-family: "Montserrat-Bold";
  text-align: left;
  font-size: clamp(2.5rem, 1rem + 2.8vw, 5rem);
  margin: 0;
  margin-top: 3%;

}

.main-button-shape {

  color: $secondaryColor;
  background-color: $mainColor;
  border: 2px solid $secondaryColor;
  font-family: "Montserrat-Bold";
  border-radius: .3rem;
  cursor: pointer;
  transition: .3s;
}

.main-button-shape:hover {
  background-color: $secondaryColor;
  color: $mainColor;
}

.main-button-shape:active {
  background-color: $mainColor;
  color: $secondaryColor;
}

.background {
  background-color: $secondaryColor;
  
}

.highlighted {
  background-color: rgba(111, 74, 231, 0.6);;
  border-radius: 5px;
  padding: 0 2px;
  }

  .right p:nth-child(even) {
    background-color: lightgray;
  }


